/* WEB CONTENT */

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Recursive', sans-serif;
}

.whiteText{
  color: #4C4C4C;
}

.headText{
  font-size: 4rem;
  line-height: 5rem;
}
.headSubtext{
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 1rem 0;
}

.headIcon{
  align-self: center;
  justify-self: center;
  width: 8rem;
  height: 8rem;
}

.nav{
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 6vh;
  padding: 0% 5%;
  color: #f3c009;
  background-color: #070502;
}

.navLinks{
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.navLinks a{
  text-decoration: none;
  color: #f3c009;
}

.background{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  margin:auto;
  border-radius: 50%;
  background-color: #070502;
}

.backgroundLight{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  margin:auto;
  border-radius: 50%;
  background-color: #4c4c4c;
}

#develop{
  grid-row: 2;
  grid-column: 2;
}

#design{
  grid-row: 2;
  grid-column: 1;
}

#maintain{
  grid-row: 2;
  grid-column: 3;
}

#designImg{
  background: url('./design.png') no-repeat center center/cover;
}

#developImg{
  background: url('./develop.png') no-repeat center center/cover;
}

#maintainImg{
  background: url('./maintain.png') no-repeat center center/cover;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: #fff;
  font-size: 4.5rem;
}

#freelance{
  box-sizing: border-box;
  padding: 5%;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
}

.freelanceContent{
  display: grid;
  height: 100%;
  width: 70%;
  margin: auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #070502;  
  column-gap: 3rem;
  grid-template-rows: 30% 40% 40%;
  grid-template-columns: 1fr 1fr 1fr;
}

.freelanceText{
  height: 100%;
  width: 100%;
  text-align: center;
}

.freelanceText h1{
  margin-bottom: 0.5rem;
}

.sectionHeaderText{
  grid-row: 1;
  grid-column: 1/-1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.aboutContainer{
  width: 100vw;
  background-color: #070502;
}

#about{
  display: flex;
  box-sizing: border-box;
  margin: auto;
  height: 100vh;
  width: 70vw;
  color: #111111;
  background-color: #f3c009;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5% 10%;
}

.emphasized{
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.aboutText{
  font-size: 1.1rem;
  line-height: 1.9rem
}

#bg-img{
  color: #fff;
  background: #000;
  padding: 2rem;
  position: relative;
}

#bg-img:before {
  content: '';
  background: url('prague.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

#resume{
  box-sizing: border-box;
  height: auto;
  width: 100vw;
  padding: 5% 20%;
  background-color: #f1f1f1;
  color: #070502;
}

.resumeContainter{
  display: flex;
  align-items: stretch;
}

#resume p{
  font-size: 1rem;
  line-height: 1.5rem;
}

.entity-title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.job-title{
  margin-top: 1rem;
}

.date{
  font-size: 1.2rem;
}

.location{
  font-size: 1.1rem;
} 

.sectionTitle{
  font-size: 2rem;
  margin-top: 2rem;
}

#contact{
  height: 110vh;
  width: 100vw;
  background-color: #4c4c4c;
  color: #f3c009;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactText{
  padding: 2%;
  width: 40%;
  margin: auto;
  text-align: center;
}

.contactForm{
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 45%;
  width: 30%;
  background-color: #f3c009;
  color: #070502;
  border-radius: 2rem;
  margin-bottom: 7%;
  box-shadow: #07050275 0px 10px 30px;
}

label{
  font-size: 1.2rem;
  margin: 5px 0;
}

input{
  outline: none;
  border: none;
  width: 100%;
  line-height: 4vh;
  font-size: 2vh;
}

button{
  height: 4rem;
  width: 10rem;
  margin: 20px auto 0px auto;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #f1f1f1;
  color: #070502;
  box-shadow: #07050275 0px 10px 30px;
  transition: 0.2s all;
}

button:hover{
  background-color: #dbdbdb;
  box-shadow: #07050275 0px 6px 22px;
}

button:active{
  background-color: #070502;
  box-shadow: none;
  color: #f3c009;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 100vw;
  background-color: #070502;
}

footer p{
  color: #F1E9B4;
}

